<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- basic styles -->

        <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="../static/css/font-awesome.min.css" />

        <!--[if IE 7]>
          <link rel="stylesheet" href="../static/css/font-awesome-ie7.min.css" />
        <![endif]-->

        <!-- page specific plugin styles -->

        <link rel="stylesheet" href="../static/css/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="../static/css/jquery.gritter.css" />
        <link rel="stylesheet" href="../static/css/select2.css" />
        <link rel="stylesheet" href="../static/css/bootstrap-editable.css" />

        <!-- fonts -->

        <link rel="stylesheet" href="../static/css/ace-fonts.css" />

        <!-- ace styles -->

        <link rel="stylesheet" href="../static/css/ace.min.css" />
        <link rel="stylesheet" href="../static/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="../static/css/ace-skins.min.css" />

        <!--[if lte IE 8]>
          <link rel="stylesheet" href="../static/css/ace-ie.min.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->

        <script src="../static/js/ace-extra.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    {% set networks = ['INSEAD', 'Columbia Business School', 'London Business School', 'Harvard Business School', 
    'Stanford Graduate School of Business', 'University of Pennsylvania: Wharton'] %}
        <div class="navbar navbar-default" id="navbar" >
            <script type="text/javascript">
                try{ace.settings.check('navbar' , 'fixed')}catch(e){}
            </script>

            <div class="navbar-container container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="icon-leaf"></i>
                            B-Link
                        </small>
                    </a><!-- /.brand -->
                </div><!-- /.navbar-header -->

                <div class="navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        
                        {% if g.user.unread_messages() > 0 %}
                        <li class="green">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">{{ g.user.unread_messages()}}</span>
                            </a>
                        {% else %}
                        <li class="blue">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-envelope"></i>
                                <span class="badge badge-default">{{ g.user.unread_messages()}}</span>
                            </a>
                        {% endif %}

                            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="icon-envelope-alt"></i>
                                    {{ g.user.unread_messages()}} New Messages
                                </li>
                                {% for message in g.user.receivedMessages.all()%}
                                    {% if message.isNew %}
                                        <li>
                                            <a href="{{url_for('inbox', username=g.user.username)}}">
                                                <img src="../static/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">{{message.sentFrom[0].firstName}} {{message.sentFrom[0].lastName}}</span><br>
                                                        {{message.convo.subject}}
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="icon-time"></i>
                                                        <span>a moment ago</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                

                                <li>
                                    <a href="{{url_for('inbox', username=g.user.username)}}">
                                        See all messages
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="../static/avatars/user.jpg" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    {{g.user.username}}
                                </span>

                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="icon-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="{{url_for('editProfile', username=g.user.username)}}">
                                        <i class="icon-user"></i>
                                        Edit Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="{{ url_for('logout') }}">
                                        <i class="icon-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.ace-nav -->
                </div><!-- /.navbar-header -->
            </div><!-- /.container -->
        </div>

        <div class="main-container-inner container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                    </script>


                    <ul class="nav nav-list">
                        <li>
                            <a href="{{url_for('user', username=g.user.username)}}">
                                <i class="icon-dashboard"></i>
                                <span class="menu-text"> Your Profile </span>
                            </a>
                        </li>

                        <li>
                            <a href="{{url_for('inbox', username=g.user.username)}}">
                                <i class="icon-envelope"></i>
                                <span class="menu-text"> Messages </span>
                            </a>
                        </li>

                        <li class="active open">
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-desktop"></i>
                                <span class="menu-text"> Opportunities </span>

                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="{{url_for('opportunities', network='All')}}">
                                        <i class="icon-double-angle-right"></i>
                                        All Networks
                                    </a>
                                </li>

                                <li>
                                    <a href="{{url_for('opportunities', network=g.user.network)}}">
                                        <i class="icon-double-angle-right"></i>
                                        {{g.user.network}}
                                    </a>
                                </li>

                                {% for network in networks %}
                                    {% if network != g.user.network %}
                                <li>
                                    <a href="{{url_for('opportunities', network=network)}}">
                                        <i class="icon-double-angle-right"></i>
                                        {{ network }}
                                    </a>
                                </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
                    </ul><!-- /.nav-list -->

                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>

                    <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                    </script>
                </div>


                {% block content %}{% endblock %}



                </div><!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <!--[if !IE]> -->

        <script type="text/javascript">
            window.jQuery || document.write("<script src='../static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/typeahead-bs2.min.js"></script>

        <!-- page specific plugin scripts -->

        <!--[if lte IE 8]>
          <script src="../static/js/excanvas.min.js"></script>
        <![endif]-->

        <script src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="../static/js/jquery.ui.touch-punch.min.js"></script>
        <script src="../static/js/jquery.gritter.min.js"></script>
        <script src="../static/js/bootbox.min.js"></script>
        <script src="../static/js/jquery.slimscroll.min.js"></script>
        <script src="../static/js/jquery.easy-pie-chart.min.js"></script>
        <script src="../static/js/jquery.hotkeys.min.js"></script>
        <script src="../static/js/bootstrap-wysiwyg.min.js"></script>
        <script src="../static/js/select2.min.js"></script>
        <script src="../static/js/date-time/bootstrap-datepicker.min.js"></script>
        <script src="../static/js/fuelux/fuelux.spinner.min.js"></script>
        <script src="../static/js/x-editable/bootstrap-editable.min.js"></script>
        <script src="../static/js/x-editable/ace-editable.min.js"></script>
        <script src="../static/js/jquery.maskedinput.min.js"></script>

        <!-- ace scripts -->

        <script src="../static/js/ace-elements.min.js"></script>
        <script src="../static/js/ace.min.js"></script>

        <!-- inline scripts related to this page -->

        <script type="text/javascript">
            jQuery(function($) {
            
            
                $('.profile-social-links > a').tooltip();
            
                $('.easy-pie-chart.percentage').each(function(){
                var barColor = $(this).data('color') || '#555';
                var trackColor = '#E2E2E2';
                var size = parseInt($(this).data('size')) || 72;
                $(this).easyPieChart({
                    barColor: barColor,
                    trackColor: trackColor,
                    scaleColor: false,
                    lineCap: 'butt',
                    lineWidth: parseInt(size/10),
                    animate:false,
                    size: size
                }).css('color', barColor);
                });
              
                ///////////////////////////////////////////
            
                //show the user info on right or left depending on its position
                $('#user-profile-2 .memberdiv').on('mouseenter', function(){
                    var $this = $(this);
                    var $parent = $this.closest('.tab-pane');
            
                    var off1 = $parent.offset();
                    var w1 = $parent.width();
            
                    var off2 = $this.offset();
                    var w2 = $this.width();
            
                    var place = 'left';
                    if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';
                    
                    $this.find('.popover').removeClass('right left').addClass(place);
                }).on('click', function() {
                    return false;
                });
            
            });
        </script>


        {% block inboxScripts %}

        <script type="text/javascript">
            jQuery(function($){
            
                //handling tabs and loading/displaying relevant messages and forms
                //not needed if using the alternative view, as described in docs
                var prevTab = 'inbox'
                $('#inbox-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                    var currentTab = $(e.target).data('target');
                    if(currentTab == 'write') {
                        //Inbox.show_form();
                    }
                    else {
                        if(prevTab == 'write')
                            Inbox.show_list();
            
                        //load and display the relevant messages 
                    }
                    prevTab = currentTab;
                })
            
            
                
                //basic initializations
                $('.message-list .message-item input[type=checkbox]').removeAttr('checked');
                $('.message-list').delegate('.message-item input[type=checkbox]' , 'click', function() {
                    $(this).closest('.message-item').toggleClass('selected');
                    if(this.checked) Inbox.display_bar(1);//display action toolbar when a message is selected
                    else {
                        Inbox.display_bar($('.message-list input[type=checkbox]:checked').length);
                        //determine number of selected messages and display/hide action toolbar accordingly
                    }       
                });
            
            
                //check/uncheck all messages
                $('#id-toggle-all').removeAttr('checked').on('click', function(){
                    if(this.checked) {
                        Inbox.select_all();
                    } else Inbox.select_none();
                });
                
                //select all
                $('#id-select-message-all').on('click', function(e) {
                    e.preventDefault();
                    Inbox.select_all();
                });
                
                //select none
                $('#id-select-message-none').on('click', function(e) {
                    e.preventDefault();
                    Inbox.select_none();
                });
                
                //select read
                $('#id-select-message-read').on('click', function(e) {
                    e.preventDefault();
                    Inbox.select_read();
                });
            
                //select unread
                $('#id-select-message-unread').on('click', function(e) {
                    e.preventDefault();
                    Inbox.select_unread();
                });
            
                /////////
            
                //display first message in a new area
                $('.message-list .message-item .text').on('click', function() {
                    //show the loading icon
                    $('.message-container').append('<div class="message-loading-overlay"><i class="icon-spin icon-spinner orange2 bigger-160"></i></div>');
                    
                    $('.message-inline-open').removeClass('message-inline-open').find('.message-content').remove();
            
                    var message_list = $(this).closest('.message-list');
                    
                    var id = $(this).attr('id');

                    //some waiting
                    setTimeout(function() {
                        
                        //hide everything that is after .message-list (which is either .message-content or .message-form)
                        //message_list.next().addClass('hide');
                        $('.message-container').find('.message-loading-overlay').remove();
            
                        //close and remove the inline opened message if any!
            
                        //hide all navbars
                        $('.message-navbar').addClass('hide');
                        //now show the navbar for single message item
                        $('#id-message-item-navbar').removeClass('hide');
            
                        //hide all footers
                        $('.message-footer').addClass('hide');
                        //now show the alternative footer
                        $('.message-footer-style2').removeClass('hide');
            
                        
                        //move .message-content next to .message-list and hide .message-list
                        message_list.addClass('hide').after($('#id-message-content' + id)).next().removeClass('hide');

                        //add scrollbars to .message-body
                        $('#message-content' + id + ' .message-body').slimScroll({
                            height: 200,
                            railVisible:true
                        });

                        Inbox.show_form(id);
            
                    }, 500 + parseInt(Math.random() * 500));

                    // If it is unread, mark it as read
                    $.post('/mark_as_read', {
                        conversation: $(this).attr('id'),
                    }).done(function(translated) {
                        $(this).parent(".message-item").removeClass('message-unread');
                    });

                });
            
                //back to message list
                $('.btn-back-message-list').on('click', function(e) {
                    e.preventDefault();
                    Inbox.show_list();
                    $('#inbox-tabs a[data-target="inbox"]').tab('show'); 
                });
                
            
            
                //hide message list and display new message form
                /**
                $('.btn-new-mail').on('click', function(e){
                    e.preventDefault();
                    Inbox.show_form();
                });
                */
            
            
            
            
                var Inbox = {
                    //displays a toolbar according to the number of selected messages
                    display_bar : function (count) {
                        if(count == 0) {
                            $('#id-toggle-all').removeAttr('checked');
                            $('#id-message-list-navbar .message-toolbar').addClass('hide');
                            $('#id-message-list-navbar .message-infobar').removeClass('hide');
                        }
                        else {
                            $('#id-message-list-navbar .message-infobar').addClass('hide');
                            $('#id-message-list-navbar .message-toolbar').removeClass('hide');
                        }
                    }
                    ,
                    select_all : function() {
                        var count = 0;
                        $('.message-item input[type=checkbox]').each(function(){
                            this.checked = true;
                            $(this).closest('.message-item').addClass('selected');
                            count++;
                        });
                        
                        $('#id-toggle-all').get(0).checked = true;
                        
                        Inbox.display_bar(count);
                    }
                    ,
                    select_none : function() {
                        $('.message-item input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
                        $('#id-toggle-all').get(0).checked = false;
                        
                        Inbox.display_bar(0);
                    }
                    ,
                    select_read : function() {
                        $('.message-unread input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
                        
                        var count = 0;
                        $('.message-item:not(.message-unread) input[type=checkbox]').each(function(){
                            this.checked = true;
                            $(this).closest('.message-item').addClass('selected');
                            count++;
                        });
                        Inbox.display_bar(count);
                    }
                    ,
                    select_unread : function() {
                        $('.message-item:not(.message-unread) input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
                        
                        var count = 0;
                        $('.message-unread input[type=checkbox]').each(function(){
                            this.checked = true;
                            $(this).closest('.message-item').addClass('selected');
                            count++;
                        });
                        
                        Inbox.display_bar(count);
                    }
                }
            
                //show message list (back from writing mail or reading a message)
                Inbox.show_list = function() {
                    $('.message-navbar').addClass('hide');
                    $('#id-message-list-navbar').removeClass('hide');
            
                    $('.message-footer').addClass('hide');
                    $('.message-form').addClass('hide');
                    $('.message-footer:not(.message-footer-style2)').removeClass('hide');
            
                    $('.message-list').removeClass('hide').next().addClass('hide');
                    //hide the message item / new message window and go back to list
                }
            
                //show write mail form
                Inbox.show_form = function(id) {
                    if($('#form' + id).is(':visible')) return;
                    if(!form_initialized) {
                        initialize_form();
                    }
                    
                    
                    var message = $('.message-list');
                    //$('.message-container').append('<div class="message-loading-overlay"><i class="icon-spin icon-spinner orange2 bigger-160"></i></div>');
                    
                    
                        //message.next().addClass('hide');
                        
                        //$('.message-container').find('.message-loading-overlay').remove();
                        
                        $('.message-list').addClass('hide');
                        $('.message-footer').addClass('hide');
                        $('#form' + id).removeClass('hide').insertAfter('.message-list-container');
                        
                        $('.message-navbar').addClass('hide');
                        $('#id-message-new-navbar').removeClass('hide');
                        
                        
                        //reset form??
                        $('.message-form .wysiwyg-editor').empty();
                        
                        $('#form' + id).get(0).reset();
                        
                   
                }
            
            
            
            
                var form_initialized = false;
                function initialize_form() {
                    if(form_initialized) return;
                    form_initialized = true;
                    
                    //intialize wysiwyg editor
                    $('.wysiwyg-editor').ace_wysiwyg({
                        toolbar:
                        [
                            'bold',
                            'italic',
                            'strikethrough',
                            'underline',
                            null,
                            'justifyleft',
                            'justifycenter',
                            'justifyright',
                            null,
                            'createLink',
                            'unlink',
                            null,
                            'undo',
                            'redo'
                        ],
                        speech_button : false
                    }).prev().addClass('wysiwyg-style1');
            
                }//initialize_form
            
            
                $('.submit').on('click', function() {

                    $('<input>').attr({
                        type: 'hidden',
                        name: 'body',
                        value: $(this).closest('form').find('.wysiwyg-editor').cleanHtml()
                    }).appendTo($(this).closest('form'));
                });
            
            });
        </script>

        {% endblock %}

        {% block opportunitiesScripts %}
            <script>
                $('.icon-ok').on('click', function() {
                    $.post('/like_opportunity', {
                        opportunity_id: $(this).attr('id'),
                        user_id: {{user.id}}
                    }).done(function(translated) {
                        alert("done");
                        $(this).parent(".timeline-item").hide();
                    });
                });


            </script>
        {% endblock %}

        {% block userScripts %}
        <script>

            $('.wysiwyg-editor').ace_wysiwyg({
                toolbar:
                        [
                            'font',
                            null,
                            'fontSize',
                            null,
                            {name:'bold', className:'btn-info'},
                            {name:'italic', className:'btn-info'},
                            {name:'strikethrough', className:'btn-info'},
                            {name:'underline', className:'btn-info'},
                            null,
                            {name:'insertunorderedlist', className:'btn-success'},
                            {name:'insertorderedlist', className:'btn-success'},
                            {name:'outdent', className:'btn-purple'},
                            {name:'indent', className:'btn-purple'},
                            null,
                            {name:'justifyleft', className:'btn-primary'},
                            {name:'justifycenter', className:'btn-primary'},
                            {name:'justifyright', className:'btn-primary'},
                            {name:'justifyfull', className:'btn-inverse'},
                            null,
                            {name:'undo', className:'btn-grey'},
                            {name:'redo', className:'btn-grey'}
                        ],
                        speech_button : false

            });

        $('#submit').on('click', function() {

            $('<input>').attr({
                type: 'hidden',
                name: 'body',
                value: $(this).closest('form').find('.wysiwyg-editor').cleanHtml()
            }).appendTo('form');
        });

        </script>
        {% endblock %}

    </body>
</html>