<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" /> -->

	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if title %}
	<title>{{title}} - SkinCheck</title>
	{% else %}
	<title>skinCheck</title>
	{% endif %}

</head>

<body class='container'>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="{{url_for('index') }}">Skin Check</a>
			<ul class="nav">
				{% set user_id = g.user.id %}
				{% if g.user.is_authenticated() %}
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('editProfile', id=user_id) }}">Edit Profile</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
				<li class="active"><a href=""> You are logged in as a {{g.user.role}} </a></li>
				{% else %}
				<li class="active"><a href=""> Sign up or login to use the service</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	{% block content %}{% endblock %}
</body>
</html>