{% extends "flathood_base.html" %}
{% block content %}

<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#">SkinCheck</a>
          
     </div>
     <!-- <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="//placehold.it/280x100/E7E7E7">        
        </div>
      </div> -->
    </div>
  </div>
 
 <!--
  <div class="container">
  <div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          You may want to put some news here 
        </div>
        </div>
        
      </div>
    </div>
   </div>
  -->

</header>

<!-- Begin Body -->
<div class="container">
  <div class="row">
        
      <!-- Column with cases listed -->
        <div class="col col-sm-3">
                <div id="sidebar">
            <ul class="nav nav-stacked">
                    <li><h3 class="highlight">Cases <i class="fa fa-medkit pull-right"></i></h3></li>
        
        {% set open_issues = [] %}
        {% set closed_issues = [] %}
        {% for issue in issues %}
        {% if not issue.isClosed %} {% if open_issues.append(issue) %} {% endif %}
        {% else %} {% if closed_issues.append(issue) %} {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
        {% if open_issues|length ==0 %}
        
        <li><a>None available</a>

          </div> <!-- sidebar -->
        </div> <!-- column -->
        
        {% else %}
                
                  {% for issue in open_issues %}
          {% set issue_id = issue.id %}
                   
          <li> <a href= "{{ url_for('show_issue', id=issue.id) }}" > {{issue.summary}} </a>
                   
                  {% endfor %}
               
                

               </div> <!-- sidebar -->
          </div> <!-- column -->
          {% endif %}

          <!-- default column -->
          <div class="col col-sm-9">
              <div class="panel">
              {% from "_formhelpers.html" import render_field %}
              <form action="{{ url_for('editProfile', id=g.user.id) }}" method="post" name="editProfile">
                <dl>
                  {% for field in form %}
                    {{ render_field(field) }}
                  {% endfor %}
                </dl>
                <p><input type="submit" value="Submit"></p>
              </form>
              


              </div>
          </div> 


  </div>
 </div> <!-- main container -->




{% endblock %}