{% extends "base.html" %}
{% block content %}

{% if g.user.isPatient() %}
<h3>Patient: Reported Issues</h3>
{% else %}
<h3>Doctor: Assigned Issues</h3>
{% endif %}
<ol>
{% for issue in issues %}
{% set issue_id = issue.id %}
<li> <a href= "{{ url_for('show_issue', id=issue.id) }}" > {{issue.summary}} </a> - assigned to doctor ID
	{% for doc in issue.doctors %}
	{{ doc.id }}
	{% endfor %}
</li>
{% endfor %}
</ol>
{% if g.user.isPatient() %}
<br>
<a href="{{url_for('create_issue')}}"> Create a new issue </a> 
<br> <br>
{% endif %}
{% endblock %}

