{% extends "base.html" %}

	{% block content %}
				<div class="main-content">
					<div class="page-content">
						{% if user.username == g.user.username %}
							<div class="page-header">
								<h1>
									Your Profile Page
								</h1>
							</div><!-- /.page-header -->
						{% else %}
							<div class="page-header">
								<h1>
									{{user.firstName}}'s Profile Page
								</h1>
							</div><!-- /.page-header -->
						{% endif %}

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div>
									<div id="user-profile-2" class="user-profile">
										<div class="tabbable">
											<ul class="nav nav-tabs padding-18">
												<li class="active">
													<a data-toggle="tab" href="#home">
														<i class="green icon-user bigger-120"></i>
														Profile
													</a>
												</li>

												<li>
													<a data-toggle="tab" href="#feed">
														<i class="orange icon-rss bigger-120"></i>
														Your Opportunities
													</a>
												</li>

												<li>
													<a data-toggle="tab" href="#friends">
														<i class="blue icon-group bigger-120"></i>
														Links
													</a>
												</li>

											</ul>

											<div class="tab-content no-border padding-24">
												<div id="home" class="tab-pane in active">
													<div class="row">
														<div class="col-xs-12 col-sm-3 center">
															<span class="profile-picture">
																<img class="" alt="" id="avatar2" src="../static/avatars/profile-pic.jpg" />
															</span>

															<div class="space space-4"></div>

														{% if user.username != g.user.username %}
															<a href="#" class="btn btn-sm btn-block btn-success">
																<i class="icon-plus-sign bigger-120"></i>
																<span class="bigger-110">Add as a friend</span>
															</a>

															<a href="#" class="btn btn-sm btn-block btn-primary">
																<i class="icon-envelope-alt bigger-110"></i>
																<span class="bigger-110">Send a message</span>
															</a>
														{% endif %}
														</div><!-- /span -->

														<div class="col-xs-12 col-sm-9">
															<h4 class="blue">
																<span class="middle">{{user.firstName}} {{user.lastName}}</span>

																<span class="label label-purple arrowed-in-right">
																	<i class="icon-circle smaller-80 align-middle"></i>
																	online
																</span>
															</h4>

															<div class="profile-user-info">
																<div class="profile-info-row">
																	<div class="profile-info-name"> Name </div>

																	<div class="profile-info-value">
																		<span>{{user.firstName}} {{user.lastName}}</span>
																	</div>
																</div>

																<div class="profile-info-row">
																	<div class="profile-info-name"> Location </div>

																	<div class="profile-info-value">
																		<i class="icon-map-marker light-orange bigger-110"></i>
																		<span>{{user.location}}</span>
																	</div>
																</div>

																<div class="profile-info-row">
																	<div class="profile-info-name"> School </div>

																	<div class="profile-info-value">
																		<span>{{user.network}}</span>
																	</div>
																</div>

																<div class="profile-info-row">
																	<div class="profile-info-name"> MBA Class </div>

																	<div class="profile-info-value">
																		<span>{{user.class_year}}</span>
																	</div>
																</div>

															</div>

															<div class="hr hr-8 dotted"></div>

															<div class="profile-user-info">
																<div class="profile-info-row">
																	<div class="profile-info-name"> Email </div>

																	<div class="profile-info-value">
																		<a href="#" target="_blank">{{user.email}}</a>
																	</div>
																</div>

																<div class="profile-info-row">
																	<div class="profile-info-name">
																		<i class="middle icon-facebook-sign bigger-150 blue"></i>
																	</div>

																	<div class="profile-info-value">
																		<a href="#">Find me on Facebook</a>
																	</div>
																</div>

																<div class="profile-info-row">
																	<div class="profile-info-name">
																		<i class="middle icon-twitter-sign bigger-150 light-blue"></i>
																	</div>

																	<div class="profile-info-value">
																		<a href="#">Follow me on Twitter</a>
																	</div>
																</div>
															</div>
														</div><!-- /span -->
													</div><!-- /row-fluid -->

													<div class="space-20"></div>

													<div class="row">
														<div class="col-xs-12 col-sm-6">
															<div class="widget-box transparent">
																<div class="widget-header widget-header-small">
																	<h4 class="smaller">
																		<i class="icon-check bigger-110"></i>
																		About Me
																	</h4>
																</div>

																<div class="widget-body">
																	<div class="widget-main">
																		<p>
																		{% if user.about %}
																			{{user.about}}
																		{% endif %}																
																		</p>
																		
																	</div>
																</div>
															</div>
														</div>

														<div class="col-xs-12 col-sm-6">
															<div class="widget-box transparent">
																<div class="widget-header widget-header-small header-color-blue2">
																	<h4 class="smaller">
																		<i class="icon-lightbulb bigger-120"></i>
																		My Skills
																	</h4>
																</div>

																<div class="widget-body">
																	<div class="widget-main padding-16">
																		<div class="clearfix">
																			<div class="grid3 center">
																				<div class="easy-pie-chart percentage" data-percent="45" data-color="#CA5952">
																					<span class="percent">45</span>%
																				</div>

																				<div class="space-2"></div>
																				Graphic Design
																			</div>

																			<div class="grid3 center">
																				<div class="center easy-pie-chart percentage" data-percent="90" data-color="#59A84B">
																					<span class="percent">90</span>%
																				</div>

																				<div class="space-2"></div>
																				HTML5 & CSS3
																			</div>

																			<div class="grid3 center">
																				<div class="center easy-pie-chart percentage" data-percent="80" data-color="#9585BF">
																					<span class="percent">80</span>%
																				</div>

																				<div class="space-2"></div>
																				Javascript/jQuery
																			</div>
																		</div>

																		<div class="hr hr-16"></div>

																		<div class="profile-skills">
																			<div class="progress">
																				<div class="progress-bar" style="width:80%">
																					<span class="pull-left">HTML5 & CSS3</span>
																					<span class="pull-right">80%</span>
																				</div>
																			</div>

																			<div class="progress">
																				<div class="progress-bar progress-bar-success" style="width:72%">
																					<span class="pull-left">Javascript & jQuery</span>

																					<span class="pull-right">72%</span>
																				</div>
																			</div>

																			<div class="progress">
																				<div class="progress-bar progress-bar-purple" style="width:70%">
																					<span class="pull-left">PHP & MySQL</span>

																					<span class="pull-right">70%</span>
																				</div>
																			</div>

																			<div class="progress">
																				<div class="progress-bar progress-bar-warning" style="width:50%">
																					<span class="pull-left">Wordpress</span>

																					<span class="pull-right">50%</span>
																				</div>
																			</div>

																			<div class="progress">
																				<div class="progress-bar progress-bar-danger" style="width:35%">
																					<span class="pull-left">Photoshop</span>

																					<span class="pull-right">35%</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div><!-- #home -->

												<div id="feed" class="tab-pane">
													<div class="profile-feed row-fluid">
														<div class="span6">

															{% for opportunity in user.opportunities %}

																<h3>{{opportunity.subject}}</h3>
																<hr>
																{% for like in opportunity.likes %}

															<div class="profile-activity clearfix">
																<div>
																	<img class="pull-left" alt="Alex Doe's avatar" src="../static/avatars/avatar5.png" />
																	<a class="user" href="{{url_for('user', username=like.sender.username)}}" > {{like.sender.firstName}} {{like.sender.lastName}}</a>
																	liked this opportunity. <a href="#" data-toggle="modal" data-target="#modal{{like.id}}"> Start a conversation</a>

																	<div class="time">
																		<i class="icon-time bigger-110"></i>
																		{{like.getTime()}}
																	</div>
																</div>

																<div class="tools action-buttons">
																	<a href="#" class="blue">
																		<i class="icon-pencil bigger-125"></i>
																	</a>

																	<a href="{{url_for('delete', id=opportunity.id)}}" class="red">
																		<i class="icon-remove bigger-125"></i>
																	</a>
																</div>
															</div>

																{% endfor %}
															{% endfor %}

														</div><!-- /span -->

													</div><!-- /row -->

													<div class="space-12"></div>

													<div class="center">
														<a href="#" class="btn btn-small btn-primary">
															<i class="icon-rss bigger-150 middle"></i>

															View more Opportunities
															<i class="icon-on-right icon-arrow-right"></i>
														</a>
													</div>
												</div><!-- /#feed -->

												<div id="friends" class="tab-pane">
													<div class="profile-users clearfix">
														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar4.png" alt="Bob Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-online"></span>
																			Bob Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">Content Editor</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 orange"></i>
																			<span class="green"> 20 mins ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar1.png" alt="Rose Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-offline"></span>
																			Rose Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">Graphic Designer</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 grey"></i>
																			<span class="grey"> 30 min ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar.png" alt="Jim Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-busy"></span>
																			Jim Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">SEO &amp; Advertising</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 red"></i>
																			<span class="grey"> 1 hour ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar5.png" alt="Alex Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-idle"></span>
																			Alex Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">Marketing</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 orange"></i>
																			<span class=""> 40 minutes idle </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar2.png" alt="Phil Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-online"></span>
																			Phil Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">Public Relations</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 orange"></i>
																			<span class="green"> 2 hours ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar3.png" alt="Susan Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-online"></span>
																			Susan Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">HR Management</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 orange"></i>
																			<span class="green"> 20 mins ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar1.png" alt="Jennifer Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-offline"></span>
																			Jennifer Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">Graphic Designer</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 grey"></i>
																			<span class="grey"> 2 hours ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="itemdiv memberdiv">
															<div class="inline position-relative">
																<div class="user">
																	<a href="#">
																		<img src="../static/avatars/avatar3.png" alt="Alexa Doe's avatar" />
																	</a>
																</div>

																<div class="body">
																	<div class="name">
																		<a href="#">
																			<span class="user-status status-offline"></span>
																			Alexa Doe
																		</a>
																	</div>
																</div>

																<div class="popover">
																	<div class="arrow"></div>

																	<div class="popover-content">
																		<div class="bolder">Accounting</div>

																		<div class="time">
																			<i class="icon-time middle bigger-120 grey"></i>
																			<span class="grey"> 4 hours ago </span>
																		</div>

																		<div class="hr dotted hr-8"></div>

																		<div class="tools action-buttons">
																			<a href="#">
																				<i class="icon-facebook-sign blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-twitter-sign light-blue bigger-150"></i>
																			</a>

																			<a href="#">
																				<i class="icon-google-plus-sign red bigger-150"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="hr hr10 hr-double"></div>

													<ul class="pager pull-right">
														<li class="previous disabled">
															<a href="#">&larr; Prev</a>
														</li>

														<li class="next">
															<a href="#">Next &rarr;</a>
														</li>
													</ul>
												</div><!-- /#friends -->

											</div>
										</div>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				{% for opportunity in user.opportunities %}

					{% for like in opportunity.likes %}
				<div class="modal fade" id="modal{{like.id}}" style="position:absolute">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">Start a conversation with {{like.sender.firstName}} {{like.sender.lastName}}</h4>
				      </div>
				      <div class="modal-body">
				        <form name="messageForm" method="post">
							<input type="hidden" name="opportunity" value="{{opportunity.id}}"></input>
							<input type="hidden" name="sentTo" value="{{like.sender.id}}"></input>
							<input type="hidden" name="subject" value="{{opportunity.subject}}"></input>


								<div class="form-group">
									<div class="col-sm-12">
										<div class="wysiwyg-editor" name="body"></div>
									</div>
								</div>

								<div class="hr hr-18 dotted"></div>
								<div class="space"></div>
							
							<span class="inline btn-send-message">
								<button type="submit" class="btn btn-sm btn-primary no-border" id="submit">
									<span class="bigger-110">Send</span>

									<i class="icon-arrow-right icon-on-right"></i>
								</button>
							</span>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				{% endfor %}
			{% endfor %}
{% endblock %}

{% block userScripts %}
	{{ super() }}
{% endblock %}
			
